.tempest-card {
  background-color: white;
  display: grid;
  grid-template-columns: 6rem auto auto auto;
  grid-template-areas: 
    "avatar card-header card-header card-header"
    "graph graph graph aside";
  border: .4rem solid black;
  border-radius: .4rem;
  padding: .6rem;
  
  &__avatar {
    grid-area: avatar;
    border-radius: 100%;
    width: 4rem;
    margin-left: 1rem;
  }

  &__heading {
    &-container {
      padding-top: .4rem;
      grid-area: card-header;
    }

    &--small {
      font-size: small;
      color: gray;
    }
  }

  &__aside {
    text-align: right;
    grid-area: aside;

    &__metric {
      font-weight: bold;

      &--orange {
        @extend .tempest-card__aside__metric;
        color: orange;
      }

      &--blue {
        @extend .tempest-card__aside__metric;
        color: blue;
      }

      &--green {
        @extend .tempest-card__aside__metric;
        color: green;
        &--large {
          @extend .tempest-card__aside__metric--green;
          font-size: large;
        }
      }
    }

    &__sub-text {
      font-size: small;
      color: gray;
    }

    &__chart {
      grid-area: graph;
    }
  }
}